* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width: 95vw;
    margin: auto;
}

button {
    background: white;
    outline: none;
    border: 1.5px solid slategrey;
    border-radius: 7.5px;
    padding: 10px;
}

button:hover {
    cursor: pointer;
}

input {
    width: 80%;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
}

/******** Chrome ********/
input[type="range"]::-webkit-slider-runnable-track {
    background: black;
    height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    margin-top: -6.5px;
    background-color: black;
    height: 15px;
    width: 5px;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
    background: black;
    height: 2px;
}

input[type="range"]::-moz-range-thumb {
    border: none;
    border-radius: 0;
    cursor: pointer;
    background-color: black;
    margin-top: -6.5px;
    height: 15px;
    width: 5px;
}
.warning {
    background: rgb(255, 68, 68);
    display: block;
    color: white;
    padding: 15px;
    margin: 0px 0px 10px 0px;
    border-radius: 10px;
}
.warning a {
    color: white;
}
.status-message {
    display: block;
    font-size: 12px;
    font-family: monospace;
    margin: 0px 0px 10px 0px;
}