#arrow-svg {
    width: 100px;
    border-radius: 15px;
    height: 80px;
    margin: auto;
    display: block;
    position: absolute;
    left: calc(50% - 50px);
    background: white;
    border: 1.5px solid slategrey;
    cursor: pointer;
    transition: 0.20s ease;
}

#arrow-svg:hover {
    width: 105px;
    height: 85px;
    left: calc(50% - 52.5px);
}

#input-container,
#output-container {
    width: 45%;
    margin: auto;
    height: 80%;
    border: 1.5px solid slategrey;
    border-radius: 15px;
    display: flex;
    padding: 15px;
}

#input-container {
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#textarea-input {
    width: 100%;
    height: 100%;
    padding: 0;
    outline: none;
    border: none;
    resize: none;
}
#options-container {
    width: 100%;
    height: 20%;
    display: flex;
}
.slider-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#options-container-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#options-container-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 50px 0px;
}
#options-container-right-bottom {
    display: flex;
    justify-content: start;
    align-items: center;
}
#options-container-right-bottom a{
    margin-right: 5px;
    color: black; 
}
#github-logo-svg {
    width: 20px;
    height: 20px;
}
#output-container {
    word-break: keep-all;
    display: flex;
    flex-direction: column;
}

#text-output-container {
    width: 100%;
    height: 95%;
    overflow-y: auto;
    overflow-wrap: break-word;
}

#stats-output-container {
    width: 100%;
    background: white;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
    font-family: monospace;
}
#stats-output-container * {
    font-family: monospace;
}