@media only screen and (max-width: 1165px) {
    * {
        font-size: 15px;
    }

    body {
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 5%;
    }

    #arrow-svg {
        display: none;
    }

    #about-container {
        width: 70%;
        top: 25%;
    }

    #input-container {
        width: 90%;
        justify-content: space-between;
        height: 55%;
    }
    #textarea-input {
        height: 47.5%;
    }
    #output-container {
        width: 90%;
        height: 30%;
    }

    #output-container {
        overflow-wrap: normal;
    }

    #options-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 47.5%;
    }

    #options-container * {
        font-size: 12px;
    }

    #options-container-left {
        width: 100%;
        height: 49%;
    }

    #options-container-right {
        width: 100%;
        height: 49%;
        padding: 0;
    }
    #options-container-right button{
        margin: 0px;
    }
    #github-logo-svg {
        width: 10px;
        height: 10px;
    }

    input[type="range"] {
        margin: 10px 0px 10px;
    }

    #stats-output-container {
        font-size: 12px;
    }

    #stats-output-container>span {
        font-size: 12px;
    }
}